:root {
    --lineas: orange; /* rgba(201, 201, 201, 0.719); */
    --letras: orange;
    --fondo: rgba(247, 247, 247, 0.973);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html {
    font-size: 62.5%; /*  Esto equivale 10px = 1rem */
}
body {
    background-color: black;
    /* background-color: var(--fondo); */
    color: var(--letras); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
/* Gloables */
.contenedor {
    /* position: fixed; */
    width: 75%;
    margin: 0 auto;    
    font-size: 2.2rem;
    transition: all .3s ease-out;
    
}
a{
    text-decoration: none;
    margin: 0;        
    color: var(--letras); 
    
}
img {
    width: 70%; 
}
p, h1,h2,h3 {
    margin: 0;
}
select {
    margin: 1rem 0;
    border-radius: 5px;
}
select, input{
    border: 1px solid var(--lineas);
    background-color: transparent;
    padding: .5rem 0;
    width: 100%;
    color: orangered;
}
textarea {
    background-color: transparent;    
    width: 100%;
    border: 1px solid var(--lineas);   
    border-radius: 5px;
    color: orangered;
}
ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: left;
}
li {
    list-style: none;
}
li::before {
    color:  green;
    content: '+ ';
}
/* Utileria */
.b00 {
    height: 0%;
}
.b60{
    flex-basis: calc(70% - .5rem);
}
.b40{
    flex-basis: calc(30% - .5rem);    
}
.b100 {
    flex-basis: 100%;    
}
.btn {
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 69, 208);
    padding: 1rem 0;
    text-align: center;
    color: white;
    font-size: 1.8rem;
}
.nota {
    font-size: 1.6rem;
}
.simulador-promocion {
    /* height: 300px; */
    width: 98%;
    margin: 0 auto;
    padding: 1rem 0;    
    border-bottom: 1px solid var(--lineas);

    display: flex;
    /* align-items: baseline;
    flex-direction: column; */
}
.simulador-promocion:last-of-type{
    border: none;
}
.logo-promocion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
.logo-promocion img {
    margin-bottom: 1rem;
}
.contenido-promocion {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.promocion-contenido {
    /* width: 50%;  */
    /* margin-left: .5rem;  */
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.promocion-descripcion {
    margin-top: 1rem;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}
.promocion-descripcion ul {
    margin-left: 1rem;
    width: 100%;
    font-size: 2.2rem;
    /* width: 60%; */
}
.contenido-promocion p {
    font-size: 3rem;
    margin-top: 1rem;
    /* width: 40%; */
    text-align: center;
}
.precio {    
    /* margin: 0 0 0 1rem; */
    font-size: 4rem;
}
.hidden {
    display: none;    
}
.selected {
    border-bottom: 1px solid var(--letras);
    color: white;
}
.alert {
    color: rgb(230, 90, 90);
    font-size: 1.6rem;
}
.success {
    color: rgb(123, 206, 123);
    font-size: 1.6rem;
    
}
/* header */
header {
    background-color: transparent;
    box-shadow: 0 0 5px 0 rgb(39, 39, 39);
    /* border-radius: 5px; */
    /* border: 1px solid var(--lineas); */
    transition: all .3s ease-out;
    
}
.navegacion {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}
.navegacion a:hover {
    border-bottom: 1px solid var(--letras);
}
/* main  */

.registro-cupones {
    /* background-color: white;
    border-radius: 5px; */
    /* border: 1px solid var(--lineas); */
    background-color: transparent;
    box-shadow: 0 0 5px 0 rgb(39, 39, 39);
    transition: all .3s ease;
    margin-bottom: 1rem;        
    transition: all .3s ease-out;
}
.form-cupon{
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-cupon input {
    background: transparent;
    margin-right: .5rem;
    padding: 1.3rem .5rem;
    border-radius: .5rem;
    border: 1px solid var(--lineas);
}
.informacion {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
main {    
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    transition: all .3s ease; 
}
.menu {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;    
    text-align: center;
}
.menu-promociones {
    background-color: transparent;
    box-shadow: 0 0 5px 0  rgb(39, 39, 39);
    /* border-radius: 5px;
    border: 1px solid var(--lineas);  */
    transition: all .3s ease-out;
}
/* menu-orden */
.menu-orden {    
    background-color: transparent;
    box-shadow: 0 0 5px 0  rgb(39, 39, 39);    
    padding: 1rem;    
    /* padding: 0 1rem;
    border-radius: 5px; */
    /* border: 1px solid var(--lineas);     */
    /* transition: all .3s ease-out; */
}
.orden-principal {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--lineas);
}
.orden-secundaria {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lineas);
}
.ingredientes {
    display: flex;
    justify-content: space-around;
}
.ingredientes label {
    flex: 80%;
    text-align: left;
}
.ingredientes input {
    flex: 20%;
    text-align: right;
}
.preferencias {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lineas);
}
.pago .total {
    text-align: left;
}

/* ======== MODALES ========*/

.modal {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, .9);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal::before {
    position: absolute;
    content: 'x';
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    top:9rem;
    left: 100rem;
    cursor: pointer;    
}
.img-modal {
    width: 50%;
}
