html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html {
    font-size: 62.5%; /*  Esto equivale 10px = 1rem */
}
body { 
    margin: 0;
    color: black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2rem;
    background-color: darkgray;
}
/* Gloables */
.contenedor {
    width: 75%;
    margin: 0 auto;      
    transition: all .3s ease-out;
    
}
a{
    text-decoration: none;
    color: black;
    margin: 0;    
}
img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .5);
    border-radius: .5rem;
}
p, h1,h2,h3 {
    margin: 0;
}
select {
    margin: 1rem 0;
}
select, input{
    padding: .5rem 0;
    width: 100%;
}
textarea {
    width: 100%;
}
ul {
    margin: 0;
    text-align: left;
}
/* Utileria */
.b00 {
    height: 0%;
}
.b60{
    flex-basis: calc(60% - 1rem);
}
.b40{
    flex-basis: calc(40% - .5rem);    
}
.b100 {
    flex-basis: 70%;    
}
.btn {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 1rem 0;
    text-align: center;
}
.card {
    border-radius: .5rem;
    background-color: darkorange;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .5);
    padding: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.nota {
    font-size: 1.6rem;
}
.simulador-promocion {
    height: 300px;
    width: 90%;
    margin: 1rem auto;    
    border-bottom: 1px solid black;    

    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.simulador-promocion:last-of-type{
    border: none;
}
.promocion-contenido {
    margin-top: 13rem;
    display: flex;
    align-items: flex-end;
}
.cont-precio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio {    
    margin: 0 0 0 1rem;
    font-size: 4rem;
}
.hidden {
    display: none;    
}
.alert {
    color: yellow;
    font-size: 1.6rem;
}
.success {
    color: rgb(123, 206, 123);
    font-size: 1.6rem;
    
}
/* header */
header {
    background-color: brown;
    width: 100%;
    padding: 2rem 0;
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .5);
}
.navegacion {
    display: flex;
    justify-content: space-around;
}
/* main  */

.registro-cupones {        
    /* border: 1px solid black; */
    background-color: olive;    
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .5);
    border-radius: .5rem;
    transition: all .3s ease;
    margin-bottom: 1rem;        
    transition: all .3s ease-out;
}
.form-cupon{
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-cupon input {
    margin-right: .5rem;
    padding: 1.3rem 0;
    border-radius: .5rem;
}
.informacion {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
main {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    transition: all .3s ease; 
}
.menu {
    display: flex;
    justify-content: space-between; 
    text-align: center;
}
.menu-promociones {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black;  */
    transition: all .3s ease-out;
}
/* menu-orden */
.menu-orden {    
    background-color: rgba(247, 1, 1,.7);
    box-shadow: 1px 1px 5px rgba(1, 1, 1, .5);
    /* background-color: brown; */
    border-radius: .5rem;
    padding: 0 1rem;
    /* border: 1px solid black;     */
    /* transition: all .3s ease-out; */
}
.orden-principal {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;    
    border-bottom: 1px solid black;
}
.orden-secundaria {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
.ingredientes {
    display: flex;
    justify-content: space-around;
}
.ingredientes label {
    flex: 80%;
    text-align: left;
}
.ingredientes input {
    flex: 20%;
    text-align: right;
}
.preferencias {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
.pago .total {
    text-align: left;
}